NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
ARCA_MODE=disabled
ARCA_WSAA_URL=
ARCA_WSFE_URL=
ARCA_CUIT=
ARCA_CERT_BASE64=
ARCA_KEY_BASE64=
